 //Toster Css
 .my-custom-class
 {
   background-color:#f9841d !important;
   color:#000 !important;
 }

 ion-button {
   --background:#f9841d;
   --background-focused:#f9841d;
   --background-activated:#f9841d;
 }
 ion-toolbar{
   --background:#0c4079;
   color: #f9841d;
   text-align: center;
 }
 .Tab_CSS
{
   background: #0c4079;
   border: 2px solid #f2f2f2;
   color: #f2f2f2;
 }
