<ion-content>
  <div>
    <ion-card-header>
      <h3 style="text-align: center; color: #f9841d;">Terms of Service & Privacy</h3>
    </ion-card-header>
 
    <ion-card style="font-size: 16px;background-color:#0c4079;color: #fff;">
      <br><br>
     <p style="margin-left: 10px; margin-right: 10px; text-align: center;"> We have taken appropriate measures to ensure that your data is not compromised. </p><br/><br/>
    </ion-card>
    <ion-card>
   <p style="font-size: 16px;text-align: justify;">
    
    <br>
    When User use Yoddha Parivartan (App), some basic user information is collected from him. We are committed to protecting the security of this information and safeguarding your privacy. This privacy policy sets out the details of the basic user information collected, the manner in which it collected, by whom as well as the purposes for which it is used. At registration you accepted the terms of this Privacy Policy and your use of the App signifies your continued acceptance thereof. This Privacy Policy may be revised from time to time and you will be notified of all such changes. In order to use the App, you will be required to consent to the terms of the Privacy Policy as revised from time to time.  <br><br>
1. INFORMATION COLLECTED AND MANNER OF COLLECTION

When User register on the App, the following basic user information is collected and stored securely on a server operated and managed by the CodeRize Technologies Private Limited,Pune(Maharashtra,India) (Server) – (i) User Information  (ii)Biomedical Details and (iii) Medical History. Before registration, user‘s location details are also captured and uploaded to the Server. 
Migration Module of an App will allow user to enter details of migration in past or future for better management. Daily activity of checkup will allow user to take health checkup on his own. User can provide a feedback based on his experience.
For better user experience app is create in English, Hindi and Marathi languages.

  
<br><br>

2. USE OF INFORMATION

The user information collected from user at the time of registration will be stored on the Server and only be used by the CodeRize Technologies Private Limited, Pune (Maharashtra,India) in anonymized, aggregated datasets for the purpose of effective management.
The information collected from user, will be used by the CodeRize Technologies Private Limited,Pune (Maharashtra,India) to plan and manage migrations within cities, states.
All the information collected from user and handled by CodeRize Technologies Private Limited,Pune(Maharashtra,India) will be made available to Authorities as and when required.

<br><br>
3. RETENTION

All user information collected at the time of registration will be retained for as long as user account remains in existence and for such period thereafter as required under any law for the time being in force.
<br><br>

4. RIGHTS

User cannot manage the communications that he might receive from us or how you receive them. If you no longer wish to receive communications from us, you may cancel your registration. If user cancels his registration, all the information he had provided to us will be deleted after the expiry of 30 days from the date of such cancellation.

<br><br>

5. DATA SECURITY

The App is equipped with standard security features to protect the confidentiality and security of user information. Data is encrypted in transit as well as at rest. User information provided at the time of registration is encrypted before being uploaded to the cloud where it is stored in a secure encrypted server. 
<br><br>

6. DISCLOSURES AND TRANSFER

No user information collected by the App will disclosed or transferred to any third party.
<br><br>

7. GRIEVANCES

If you have any concerns or questions in relation to this Privacy Policy, you may address them to the CodeRize Technologies Private Limited,Pune (Maharashtra,India), official mail address (support@coderize.in)
Our website address is: https://www.coderize.in/.
    
<br><br>

    <strong> Please indicate your acceptance of Terms of Service and the Privacy Policy by clicking on the button below: </strong>
   </p>
<br>
      <div style="font-size: 15px; text-align: center;">
   <a href="https://www.coderize.in/yoddha-terms-of-service/">Terms of Service</a>
  </div>
  </ion-card>
<hr>

      <ion-button style="width: 100%; margin-top: 50px;" type="submit" (click)="iagree()">I Agree</ion-button>   

        <ion-button type="submit" style="width: 100%; margin-top: 20px;" (click)="exist()">Disagree</ion-button>  
        
  

</div>
</ion-content>
